@model OwlsBookStore.Data.Models.ViewModels.Writer.WriterBaseViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete Author @Model.Name?</h3>
<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
            <hr />
        </dd>
         

        <dt>
            @Html.DisplayNameFor(model => model.UrlWriter)
        </dt>

        <dd>
            <img src="@Html.Raw(Model.UrlWriter)" height="100" width="100" />
            <hr />
        </dd>
            


        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDate)
            <hr />
        </dd>
        


        <dt>
            @Html.DisplayNameFor(model => model.Portrayal)
        </dt>

        <dd>
            <div class="panel panel-default panel-body">
                @Html.DisplayFor(model => model.Portrayal)
            </div>
        </dd>



    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
