@model OwlsBookStore.Data.Models.ViewModels.Writer.WriterDetailViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details of @Model.Name</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
            <hr />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDate)
            <hr />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UrlWriter)
        </dt>

        <dd>
            <img src="@Html.Raw(Model.UrlWriter)" height="100"  width="100" />
            <hr />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Portrayal)
        </dt>

        <dd>
            <div class="panel panel-default panel-body">
                @Html.Raw(Model.Portrayal)
            </div>
        </dd>


        <dt>
            Book Series
        </dt>
        <dd>
            <hr />
        </dd>
        @*<dd>
            @foreach (var item in Model.BookSeries)
            {
                @item.Name
            }
        </dd>*@

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index") |
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Add Book Seriese for this Author", "AddBookSeries", new { id = Model.Id } )

</p>
